<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <link href="./index.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MongoDB</title>
  </head>
  <body>
    <h3>Search by Abstract</h3>
    <form action="/articles/search" method="GET" class="boarder">
      
      <input type="text" name="abstract" placeholder="Abstract" />
      <button type="submit">Submit</button>
    </form>
    <body>
      <h3>Search by Author</h3>
      <form action="/articles/search/author" method="GET" class="boarder">
       
        <input type="text" name="byline" placeholder="Author" />
        <button type="submit">Submit</button>
      </form>
      <h3>Search by Bookmark</h3>
      <form action="/articles/search/bookmark" method="GET" class="boarder">
        
        <input type="text" name="bookmark" placeholder="Bookmark" />
        <button type="submit">Submit</button>
      </form>

      <h3>Search by Year-Month for Word Count</h3>
      <form action="/articles/search/wordcount" method="GET" class="boarder">
        <input type="text" name="date" placeholder="2019-12" />
        <button type="submit">Submit</button>
      </form>
  

    <h3>CREATE</h3>
    <form action="/articles/create" method="POST" class="boarder">
      <h3>Add an article from a different news sources(fill out the fields)</h3>
      <input type="text" name="abstract" placeholder="Abstract" />
      <input type="text" name="web_url" placeholder="WEB URL" />
      <input type="text" name="snippet" placeholder="Snippet" />
      <input type="text" name="lead_paragraph" placeholder="Lead paragraph" />
      <input type="text" name="source" placeholder="Sources" />
      <h2>Headline:</h2>
      <input type="text" name="headline_main" placeholder="Main" />
      <input type="text" name="headline_kicker" placeholder="Kicker" />
      <input
        type="text"
        name="headline_print_headline"
        placeholder="Print Headline"
      />
      <h2>Keywords</h2>
      <input type="text" name="keywords_name" placeholder="Name" />
      <input type="text" name="keywords_value" placeholder="Value" />
      <h2>Doc Info</h2>
      <input type="text" name="document_type" placeholder="Doc Type" />
      <input type="text" name="news_desk" placeholder="News Desk" />
      <input type="text" name="section_name" placeholder="Section Name" />
      <input type="text" name="subsection_name" placeholder="Subsection Name" />
      <h2>ByLine</h2>
      <input type="text" name="byline_original" placeholder="Original" />
      <input
        type="text"
        name="byline_organization"
        placeholder="Organization"
      />
      <input
        type="text"
        name="type_of_material"
        placeholder="Type of Material"
      />
      <input type="text" name="word_count" placeholder="Word Count" />
      <button type="submit">Submit</button>
    </form>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
      integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
      integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
