<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongoDB Project</title>
</head>
<body>
    <div class="search-result">
    <h3>Search Results</h3>

        <% if (results.length > 0) { %>
            <% results.forEach(article => { %>

                <h4><%= article.headline.main %></h4>
                <p><%= article.snippet %></p>
                    <!-- <p><%= article._id %></p> -->

            <% }); %>
        <% } else { %>
            <p>No search results</p>
        <% } %>

    </div>
</body>
</html>